header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2c3e50;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
h1 {
    flex: 1; /* Allow h1 to take up remaining space */
    text-align: center; /* Center the text within h1 */
    margin-right: 20px; /* Adjust the margin as needed */
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background-color: #2c3e50;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.icon {
    margin-left: 10px; /* Adjust the margin as needed */
}
/* search svg dark mode */
.search svg {
  fill: #2c3e50;
}
/* modal css */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* Positioned at the center of the screen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* rounded corners */
    border-radius: 10px;
    /* box shadow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* width and height */
    width: 500px;
    height: 550px;
    color: #2c3e50;
    background-color: #fff;
    /* animation */
    animation-name: modalopen;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    
}
/* modal content */  
.modal-content {
    padding: 20px;
    border: none;
    display: grid;
    /* center the grid */
    place-items: center;
}
/* modal close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
/* change color of close button to red on hover */
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
/* modal form */
.modal form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* modal form input */
.modal form input {
    padding: 10px;
    margin: 4px 0;
    border: 1px solid #888686;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    box-shadow: 0 0 10px rgba(87, 86, 86, 0.5);
}
/* modal form input:focus */
.modal form input:focus {
    border: 1px solid #2c3e50;
}
/* modal form input:invalid */
.modal form input:invalid {
    border: 1px solid red;
}
/* modal form input:valid */
.modal form input:valid {
    border: 1px solid green;
}
/* modal form input[type="submit"] */
.modal form input[type="submit"] {
    padding: 10px;
    margin: 4px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    background-color: #2c3e50;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(87, 86, 86, 0.5);
}
/* modal form input[type="submit"]:hover */
.modal form input[type="submit"]:hover {
    background-color: #1e2b37;
}
/* modal form input[type="submit"]:active */
.modal form input[type="submit"]:active {
    background-color: #1e2b37;
    transform: scale(0.98);
}
/* modal form input[type="submit"]:focus */
.modal form input[type="submit"]:focus {
    background-color: #1e2b37;
}
/* modal form input[type="submit"]:disabled */
.modal form input[type="submit"]:disabled {
    background-color: #2c3e50;
    cursor: not-allowed;
}
/* modal form input[type="submit"]:disabled:hover */
.modal form input[type="submit"]:disabled:hover {
    background-color: #2c3e50;
}